/* Container */
.upload-container {
  display:contents;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #f8f9fa;
}

/* Upload Box */
.upload-box {
  width: 800px;
  height: 400px;
  border-radius: 8px;
  border: 3px dashed #5D789F;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #edf2f7;
  cursor: pointer;
  transition: background 0.3s ease;
}



.upload-box:hover {
  background: #e2e8f0;
}

.upload-label {
  text-align: center;
  color: #4a5568;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.upload-icon {
  font-size: 40px;
  color: #5D789F;
  margin-bottom: 10px;
}
.upload-icon::before {
  content: "⬆️";
  font-size: 30px;
  color: #4299e1;
  margin-bottom: 10px;
  display: none;
}

/* Hidden Input */
.hidden-input {
  display: none;
}

/* File Info */
.file-info {
  display: flex;
  align-items: center;
  margin-top: 40px;
  background: #e2e8f0;
  padding: 10px 15px;
  border-radius: 8px;
  width: 800px;
  max-width: 800px;
  box-sizing: border-box;
  justify-content: space-between;
}

.file-icon {
  font-size: 20px;
  color: #4a5568;
  margin-right: 10px;
}

.file-info span {
  flex: 1;
  color: #4a5568;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.remove-btn {
  background: none;
  border: none;
  color: #e53e3e;
  cursor: pointer;
  font-size: 16px;
}

.remove-btn:disabled {
  color: #a0aec0;
  cursor: not-allowed;
}